@use "sass:color";
@use "../include/colors" as c;
@forward "../include/colors";

// Modify all of the colors used in both dark and light layouts here
// Reassignments override the defaults from include/colors

////// Light Mode //////

c.$color-desktop-gradient-1: #00c2da;
c.$color-desktop-gradient-2: #00618d;
c.$desktop-image: "../images/background.jpg";

c.$color-foreground: #000;
c.$color-foreground-inverted: #fff;
c.$color-drop-shadow: rgba(0, 0, 0, 0.25);
c.$color-accent: #1d7bf0;
c.$color-background-toolbar: hsl(193, 31%, 94%);
c.$color-callout: hsl(92, 97%, 66%);

c.$color-background-help: rgb(189, 189, 190);
c.$color-background-help-search: rgb(168, 170, 171);

////// Dark Mode //////

c.$dark-color-desktop-gradient-1: color.adjust(
  color.adjust(c.$color-desktop-gradient-1, $hue: 90deg),
  $lightness: -15%
);
c.$dark-color-desktop-gradient-2: #333;
c.$dark-desktop-image: "../images/darkbackground.jpg";

c.$dark-color-foreground: #fff;
c.$dark-color-foreground-inverted: #000;
c.$dark-color-accent: c.$accent-purple;
c.$dark-color-background-toolbar: rgba(29, 28, 28, 0.85);
c.$dark-color-background-submenu: rgba(104, 106, 107, 0.7);
c.$dark-color-divider: rgba(38, 39, 37, 1);
c.$dark-color-border: rgba(38, 39, 37, 1);
c.$dark-color-callout: color.adjust(
  color.adjust(c.$color-callout, $hue: 85deg),
  $lightness: 10%
);

c.$dark-color-background-help: rgba(74, 75, 74, 0.95);
c.$dark-color-background-help-search: rgba(87, 89, 89, 0.95);

c.$color-shortcut-callout: c.$color-accent;
c.$color-shortcut-callout-border: c.$color-foreground-inverted;

c.$dark-color-shortcut-callout: c.$dark-color-accent;
c.$dark-color-shortcut-callout-border: c.$dark-color-foreground;
