// System accent colors

$accent-blue: rgb(0, 122, 255);
$accent-purple: rgb(178, 68, 165);
$accent-pink: rgb(247, 79, 158);
$accent-red: rgb(224, 56, 62);
$accent-orange: rgb(247, 130, 27);
$accent-yellow: rgb(252, 184, 39);
$accent-green: rgb(98, 186, 70);
$accent-grey: rgb(147, 147, 147);

$active: rgb(41, 182, 220);
$inactive: rgb(188, 216, 224);
